@charset "UTF-8";

/* @import "header.css"; */
@import "payMent.css";
@import "basket.css";




*{
    padding: 0px;
    margin: 0px;
}

body{
    height: 1000vh;

}

ul {
    list-style: none;
}

.flexd {
    display: flex;
}
/*공통 폰트 스타일 ----------------------------------------------*/
.bolds{
    font-weight: bold;
}

.textred {
    color: red;
    font-weight: normal;
}